# Telegram Bot Token (от @BotFather)
TELEGRAM_BOT_TOKEN=your_AAEupAcwOpR9psDRuXaXJ6FmxOBx_2BIhv4

# Yandex Cloud IAM Token или Service Account Key
# Для простоты можно использовать IAM токен, но в продакшене лучше ключи сервисного аккаунта
YANDEX_IAM_TOKEN=your_yandex_iam_token
YANDEX_FOLDER_ID=your_yandex_folder_id

# ID сессии Алисы (можно генерировать случайно или хранить состояние)
ALICE_SESSION_ID=default_session_id
